rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /upload/{uid}/{allPaths=**} {
      allow read, write: if request.auth != null
        && request.auth.uid == uid
        && (request.resource == null || (
          request.resource.size < 5 * 1024 * 1024
          && request.resource.contentType.matches('image/.*')
        ));
    }
  }
}
